/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd,
picture {
  margin: 0;
}


body {
    line-height: 1.5;
    min-height: 100vh;
}

img,
picture {
    max-width: 100%;
    display: block;
}



/* Utility classes */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.social_media_icons {
    min-width: 2rem;
    min-height: 2rem;
}

.countdown_indiv_box {
    height: 8rem;
    width: 8rem;
    background-color:blueviolet;
}

.btn_customized {
    cursor: pointer;
    background-color: none;
    border: none;
    opacity: .75;
}



/* Variables */

:root {
    --pcolor-graylishblue: hsl(237, 18%, 59%);
    --pcolor-softred: hsl(345, 95%, 68%);
    --ncolor-white: hsl(0, 0%, 100%);
    --ncolor-dsatblue: hsl(236, 21%, 26%);
    --ncolor-darkblue: hsl(235, 16%, 14%);
    --nncolor-vdarkblue: hsl(234, 17%, 12%);
}

/* Custom classes */

.main_wrapper {
    background: url(./images/bg-stars.svg) no-repeat center;
    background-size: contain;
    background-color: var(--ncolor-darkblue);
}

.wrapper_main {
    min-height: 45rem;
}

.top_container {
    min-height: 20rem;
}

.top_container h1 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 5rem;
    font-family: 'Red Hat Text', sans-serif;
    letter-spacing: .5rem;
    font-size: 0.9375rem;
    color: white;
}

.countdown_container {
    margin-top: 7rem;
    column-gap: 1.5rem;
    justify-content: center;
}

.bottom_container{
    background: url(./images/pattern-hills.svg) no-repeat center;
    background-size: cover;
    justify-content: center;
}

.social_media_accounts {
    justify-content: center;
    column-gap: 2rem;
    align-items: center;
}

.facebook {
    background: url(./images/icon-facebook.svg) no-repeat center;
    background-size: contain;
}
.pinterest {
    background: url(./images/icon-pinterest.svg) no-repeat center;
    background-size: contain;
}
.instagram {
    background: url(./images/icon-instagram.svg) no-repeat center;
    background-size: contain;
}

.social_media_accounts button:hover {
    opacity: 1;
}

.footer {
    justify-content: center;
}